/* .text-primary { color: #ff9700 !important; }*/
body {
  font-family: 'Outfit' !important;
  scroll-behavior: smooth !important;
}

.bg-white {
  background-color: #f2f8fc !important;
}

html {
  -moz-filter: saturate(1.8) brightness(-0.25) contrast(1.55) !important;
  -webkit-filter: saturate(1.8) brightness(-0.25) contrast(1.55) !important;
  filter: saturate(1.8) brightness(-0.25) contrast(1.55) !important;
}

#preloader {
  height: 100vh;
  z-index: 1000;
  /* transition: 2s all !important*/
}
.banner {
  /* width: 100%; */
  /* height: 100vh; */
  --color: rgba(180, 180, 180, 0.3);
  background-color: #000000;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 70px 70px;
  position: relative;
}
.banner::after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.banner::before{
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}


.preloader {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.circle {
  position: absolute;
  height: 100%;
  width: 30%;
}

.circle:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.circle:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.circle:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.circle:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.circle:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.circle:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.circle:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.logoText {
  font-weight: 900 !important;
  transition: 0.3s;
}

.logoText:hover {
  letter-spacing: 5px;
}

header {
  z-index: 99;
  transition: 1.5s;
  margin: 2% 5% 0;
  top: 10px;
  background: #0000008a;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6.7px);
  border-radius: 10px;
}

.headerGlass {
  background: #0000008a;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6.7px); */
  padding: 0 15px;
  border-radius: 10px;
}

.headerTransparent {
  background-color: transparent;
  padding: 0 5px;
}

.letterTransition {
  transition: 1s;
}

.letterTransition:hover {
  letter-spacing: 1px;
}

ul li .nav-link {
  position: relative;
}

ul li .nav-link::before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: 0.5s;
}

ul li .nav-link:hover::before {
  width: 100%;
  left: 0;
}

* {
  ::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 43px;
  }
}

::placeholder { 
  color: rgba(255, 255, 255, 0.3) !important;
}

a {
  display: inline-block !important;
}

.moreOptions {
  position: relative;
}

.moreOptions li {
  position: absolute;
  top: 100%;
  right: 50%;
  padding: 5px;
  transition: 0.5s cubic-bezier(.42, .89, .03, 1.4);
  margin: -20px -100px 0;
  opacity: 0;
}

.moreOptions:hover li {
  margin: 12px -100px;
  opacity: 1;
  background-color: #0000007c;
  padding: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6.7px);
  border-radius: 10px;
}

.cir {
  width: 264px;
  height: 264px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  box-shadow: inset -5px -15px 20px -10px whitesmoke;
  animation: rotateShadow 5s infinite ease-in-out;
}

@keyframes rotateShadow {
  50% {
    box-shadow: inset -15px -20px 22.5px -15px whitesmoke;
  }

  100% {
    box-shadow: inset -5px -15px 20px -10px whitesmoke;
  }
}

@supports (-moz-appearance: none) {

  /* CSS rules here will only apply in Firefox */
  .goToTop {
    bottom: 0 !important;
    right: 0 !important;
    margin: 10px;
  }

}

.goToTop {
  animation: GoToTopAnim;
  -webkit-animation: GoToTopAnim;
  animation-timeline: scroll(y);
  -webkit-animation-timeline: scroll(y);
  position: fixed;
  right: 12px;
  color: transparent;
  font-size: 1.25rem;
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff !important;
  z-index: 999;
}

@keyframes GoToTopAnim {
  0% {
    opacity: 0;
    bottom: -50px;
  }

  10% {
    opacity: 1;
    bottom: 10px;
  }

  100% {
    opacity: 1;
    bottom: 10px;
  }
}

.fontBorder {
  color: transparent !important;
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}

.navbar-nav,
.offcanvas-header {
  -webkit-box-shadow: 0px 15px 161px -60px rgba(45, 61, 203, 0.636);
  -moz-box-shadow: 0px 15px 161px -60px rgba(45, 60, 203, 0.636);
  box-shadow: 0px 15px 161px -60px rgba(45, 60, 203, 0.636);
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
  animation: hand-waving 2s infinite;
  transform-origin: bottom right;
}

@keyframes hand-waving {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

section:not(.noAnim) {
  animation: appear cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-delay: 1s;
  animation-range: entry -10% cover 50%;
}

section.about {
  transform: translateY(-25%);
  border-radius: 2rem;
  margin: 30px;
}

section.contact {
  animation: appearContact linear;
  animation-timeline: view();
  animation-range: entry -10% cover 50%;
}

.achieve-img,
.project-img,
.blog-img {
  animation: appearToTop cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry -10% cover 180%;
}

.edu-content {
  animation: appearToTopEdu cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry -10% cover 100%;
  margin: 20px 0 20px 12.5px;
  justify-content: center;
}

.achieve-img {
  animation-range: entry -10% exit 600% !important;
  cursor: grab;
}

/* .progress:hover .progress-bar {
transform: translateX(0%);
}*/
.progress {
  animation: appearProgress cubic-bezier(0.04, 0.5, 0, 1.01);
  animation-timeline: view();
  animation-range: entry -80% cover 50%;
  transition: 0.5s;
}

.lineDivider {
  position: relative;
}

.lineDivider:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  left: 20px;
  transform: rotate(90deg);
}

@keyframes appearToTop {
  0% {
    transform: translateY(800px);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes appearToTopEdu {
  0% {
    transform: translateY(1000px);
    -webkit-box-shadow: 0px 22px 161px -100px rgb(255, 0, 0);
    -moz-box-shadow: 0px 22px 161px -100px rgb(255, 0, 0);
    box-shadow: 0px 22px 161px -100px rgb(255, 0, 0);
  }

  100% {
    transform: translateY(0%);
    -webkit-box-shadow: 0px 15px 161px -60px rgba(45, 60, 203);
    -moz-box-shadow: 0px 15px 161px -60px rgba(45, 60, 203);
    box-shadow: 0px 15px 161px -60px rgba(45, 60, 203);
  }
}

@keyframes appearProgress {
  0% {
    width: 25%;
  }

  100% {
    width: 100%;
  }
}

@keyframes appearAbout {
  0% {
    opacity: 0;
    border-radius: 0.5rem;
    margin: 0;
  }

  100% {
    opacity: 1;
    margin: 30px;
    border-radius: 2rem;
  }
}

@keyframes appear {
  0% {
    scale: 0.6;
  }

  100% {
    scale: 1;
  }
}

.bannerTitle {
  font-size: clamp(30px, 40px, 100px);
  font-weight: 900;
  color: transparent;
  /* padding: 100px 0 50px; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0d6efd;
}

.bannerTitle .lead {
  font-size: 0.45em;
  -webkit-text-stroke-width: 0;
}

.icons {
  animation: comeInNegetive;
  animation-duration: 3.5s;
  /* animation-delay: 600ms;*/
}

.icons .subIcons {
  animation-name: floatIconBanner;
  animation-duration: 6s;
  opacity: 0.5;
  animation-iteration-count: infinite;
  transition: 0.5s;
  top: 0;
}

.icons .subIcons:hover {
  opacity: 1;
}

.bannerAnim {
  animation-name: comeIn;
  animation-duration: 2.5s;
}

.bannerAnimP {
  animation-name: comeInP;
  animation-duration: 3s;
}

.bannerAnimImg {
  animation-name: comeInImg;
  animation-duration: 2s;
}

@keyframes comeIn {
  0% {
    transform: translateY(200%);
    filter: blur(15px);
    height: 0 !important;
  }

  100% {
    height: max-content;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes comeInP {
  0% {
    transform: translateY(100%);
    filter: blur(15px);
  }

  50% {
    height: 0 !important;
    transform: translateY(100%);
    filter: blur(15px);
  }

  100% {
    height: max-content;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes comeInImg {
  20% {
    filter: blur(10px);
  }

  80% {
    filter: blur(0);
  }

  90% {
    filter: blur(2px);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes comeInNegetive {
  0% {
    transform: translateY(-150%);
    filter: blur(10px);
  }

  20% {
    transform: translateY(-150%);
    filter: blur(10px);
  }

  50% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes floatIconBanner {
  0% {
    transform: translate(0, 0px);
  }

  25% {
    transform: translate(4px, 10px);
  }

  50% {
    transform: translate(6px, 12px);
  }

  75% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.Button {
  font-weight: 700;
  /* border: 0 solid;*/
  border-radius: 99rem;
  color: #000;
  background-color: white;
  border-width: 2px;
  padding: 0.8rem 3rem;
  transition: 0.5s cubic-bezier(0.04, 0.5, 0, 1.01);
}

.Button:hover {
  /* background-color: #fff;*/
  color: #000 !important;
  padding: 0.8rem 3.5rem;
}

.Button.contact:hover {
  /* background-color: #fff;*/
  color: #000 !important;
  padding: 0.8rem 4rem;
}

.bannerImage {
  right: 0px;
  top: 0;
}

.bannerImage .img {
  background: #2125294b;
  position: relative;
}

/* banner end*/
/* about start*/
.about {
  position: relative;
}

.typoText {
  position: absolute;
  right: -120px;
  top: 250px;
  font-size: 120px;
  font-weight: 700;
  transform: rotate(90deg);
  opacity: 0.2;
  color: black !important;
}

/* .about p.heading:after {background-color: #000;}*/
p.heading,
p.about.heading,
p.contact.heading {
  position: relative;
}

p.about.heading:after,
p.contact.heading:after {
  background-color: black !important;
}

p.heading:after,
p.about.heading:after,
p.contact.heading:after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  animation: afterLine linear;
  animation-timeline: view();
  animation-range: entry -30% exit 20%;
  background-color: #fff;
  height: 1px;
  width: 100%;
  bottom: -50px;
  left: -10px;
}

@keyframes afterLine {
  from {
    bottom: -50px;
  }

  to {
    bottom: 0;
  }
}

.about span.info {
  padding-right: 50px;
}

.about i {
  padding-right: 10px;
}

/* about end*/
/* education start*/
.achieve-img img {
  margin: 50px auto;
}

/* education end*/
/* project start*/
.project-img img, .project-img-Hover{
  cursor: pointer;
}

.project-img img,
.project-img-Hover img,
.achieve-img img,
.blog-img img {
  transition: 1s cubic-bezier(0.04, 0.89, 0, 1.01);
}

.project-img img:hover,
.project-img-Hover img:hover,
.achieve-img img:hover,
.blog-img img:hover {
  transform: scale(1.05);
}

.blurry {
  animation: blurry;
  /* animation-delay: 600ms;*/
  animation-timeline: view();
  animation-range: entry -10% cover 50%;
}

@keyframes blurry {
  from {
    filter: blur(20px);
  }

  to {
    filter: blur(0);
  }
}

.banner {
  min-height: 130vh;
  display: flex;
  align-items: center;
}
#particles-js{
  background: #838383;
}
.cardHead {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 400ms;
}

.ProCard {
  flex: 1;
  height: 100%;
  transition: all 800ms cubic-bezier(.42, .89, .03, 1.21);
  cursor: pointer;
}

.ProCard>img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProCard:nth-child(odd) {
  translate: 0 -20px;
}

.ProCard:nth-child(even) {
  translate: 0 20px;
}

.cardHead:hover .ProCard:not(:hover) {
  filter: grayscale(100%);
}

.ProCard:hover {
  flex: 4;
}

.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  --f: .5em;
  --r: .8em;  
  position: absolute;
  top: 20px;
  left: calc(-0.115*var(--f));
  padding-inline: .25em;
  line-height: 1.8;
  background: #ff0000;
  border-bottom: var(--f) solid #0005;
  border-right: var(--r) solid #0000;
  clip-path: polygon(0 0, 0 calc(100% - var(--f)), var(--f) 100%, var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)), calc(100% - var(--r)) calc(50% - var(--f)/2), 100% 0);
}

.ribbonNegetive {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  --f: .5em;
  --r: .8em;
  position: absolute;
  bottom: 20px;
  right: calc(-0.17*var(--f));
  padding-inline: .25em;
  line-height: 1.8;
  background: #ff0000;
  border-top: var(--f) solid #0005;
  border-left: var(--r) solid #0000;
  clip-path: polygon(0 100%, 100% 100%, 100% var(--f), calc(100% - var(--f)) 0, calc(100% - var(--f)) var(--f), 0 var(--f), var(--r) calc(50% + var(--f)/2));
}

.infScroll {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;
  background: #00000059;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6.7px);
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.infScroll ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 5s linear infinite;
}

.infScroll:active ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.language {
  color: white;
  font-size: 2rem;
}

#drop {
  height: 4000px;
  border: 4px dashed #fff;
  margin: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#drop.over {
  border-color: #333;
}


.cards .outer {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  transition: 0.15s ease-in-out;
  position: relative;
  box-shadow: 0px 30px 66px -200px rgba(0, 0, 0, 0.63);
}

.cards .dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}


@keyframes moveDot {

  0%,
  100% {
    top: 10%;
    right: 10%;
  }

  25% {
    top: 10%;
    right: calc(100% - 45px);
  }

  50% {
    top: calc(100% - 30px);
    right: calc(100% - 45px);
  }

  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.SkillCard {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #202222;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #000000) 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}

.SkillCard .ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.SkillCard .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}

.SkillCard .line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}

.SkillCard .topl {
  top: 8%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}

.SkillCard .bottoml {
  bottom: 8%;
}

.SkillCard .leftl {
  left: 5%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}

.SkillCard .rightl {
  right: 5%;
  width: 1px;
  height: 100%;
}

.cards .outer:hover {
  transform: translateY(-15px);
  box-shadow: 0px 40px 66px -45px rgba(255, 255, 255, 0.404);
}

.moreProjects .projectIcon::after {
  top: -400%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100vh;
  background-color: white;
  opacity: 25%;
  content: '';
  position: absolute;
}

.moreProjects .projectIconX::after {
  top: 50%;
  transform: translateY(50%);
  right: -100%;
  width: 200vw;
  height: 2px;
  background-color: white;
  opacity: 25%;
  position: absolute;
  content: '';
}

.WebPreview {
  width: 100%;
  height: 80vh;
  background-color: white;
  transition: 0.8s !important;
}

.h-0 {
  height: 0 !important;
}